CMakeCache.txt
cmake_install.cmake
.*.swp
*.vcxproj
*.filters
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
*.opensdf
*.sdf
*.suo
*.dir
*.sln
*.ipch
*.pdb
Win32
Debug
Release
CTestTestfile.cmake
DartConfiguration.tcl
*.user
build/
**/CMakeScripts
**/*.xcodeproj
src/oscontrols/*.glsl
src/oscontrols/*.svg
Testing/*
os-controls.sublime-project
src/config/moc_config.cpp_parameters
src/config/build-config-*
**.cpp_parameters
src/config/config.pro
**/moc_*.cpp
src/config/ui_configwindow.h
**/*_automoc.cpp
bin/platforms/*
*.autosave
*.aps
src/oscontrols/Version.h
