CMakeCache.txt
cmake_install.cmake
.*.swp
*.vcxproj
*.filters
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
*.opensdf
*.sdf
*.suo
*.dir
*.sln
*.ipch
*.pdb
Win32
Debug
Release
CTestTestfile.cmake
DartConfiguration.tcl
*.user
build/
bin/
**/CMakeScripts
**/*.xcodeproj
src/Shortcuts/*.glsl
src/Shortcuts/*.svg
Testing/*
os-controls.sublime-project
src/config/moc_config.cpp_parameters
src/config/build-config-*
**.cpp_parameters
src/config/config.pro
**/moc_*.cpp
src/config/ui_configwindow.h
**/*_automoc.cpp
bin/platforms/*
*.autosave
*.aps
src/Shortcuts/Version.h
install/*
ComponentsConfig.cmake
ComponentsConfigVersion.cmake
src/components/library/cmake/ComponentsExport.cmake
resources
.DS_Store
xcode


src/components/example_apps/RiggedHandSample/models/*
src/components/example_apps/RiggedHandSample/textures/*

src/components/install/*
src/components/install_manifest.txt

src/vrshell/Version.h
